<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form Page</title>
</head>
<body>

<h1>Register New User</h1>

<!--Registration Form-->
<form action="#" th:action="@{/register/processRegistrationForm}"
      th:object="${webUser}"
      method="POST">

    <!--Check for Registration Error-->
    <div th:if="${registrationError}">
        <span th:text="${registrationError}"></span>
    </div>

    <!--UserName input-->
    <p>
        UserName <input type="text" th:field="*{userName}">
    </p>
    <div th:if="${#fields.hasErrors('userName')}">
        <ul>
            <li th:each="err : ${#fields.errors('userName')}" th:text="'Error: ' + ${err}"/>
        </ul>
    </div>

    <!--Password input-->
    <p>
        Password <input type="password" id="password" th:field="*{password}"/>
    </p>
    <div th:if="${#fields.hasErrors('password')}">
        <ul>
            <li th:each="err : ${#fields.errors('password')}" th:text="'Error: ' + ${err}"/>
        </ul>
    </div>

    <!--Comfirm Password Input-->
    <p>
        Confirm Password <input type="password" id="confirm_password" th:field="*{confirmPassword}" onkeyup="check();"/>
        <span id="message"></span>
    </p>
    <div th:if="${#fields.hasErrors('confirmPassword')}">
        <ul>
            <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></li>
        </ul>
    </div>

    <script>
        var check = function() {
            var password = document.getElementById('password').value;
            var confirm_password = document.getElementById('confirm_password').value;
            var message = document.getElementById('message');
            var submitButton = document.querySelector('input[type="submit"]');

        if (password === confirm_password) {
            message.style.color = 'green';
            message.innerHTML = 'Passwords match!';
            submitButton.disabled = false;
        } else {
            message.style.color = 'red';
            message.innerHTML = 'Passwords do not match!';
            submitButton.disabled = true;
        }

        if (password === '' && confirm_password === '') {
            message.innerHTML = '';
            submitButton.disabled = false;
        }
        }
    </script>


    <!--First Name Input-->
    <p>
        First Name <input type="text" th:field="*{firstName}"/>
    </p>
    <div th:if="${#fields.hasErrors('firstName')}">
        <ul>
            <li th:each="err : ${#fields.errors('firstName')}" th:text="'Error: ' + ${err}"/>
        </ul>
    </div>

    <!--Last Name Input-->
    <p>
        Last Name <input type="text" th:field="*{lastName}"/>
    </p>
    <div th:if="${#fields.hasErrors('lastName')}">
        <ul>
            <li th:each="err : ${#fields.errors('lastName')}" th:text="'Error: ' + ${err}"/>
        </ul>
    </div>

    <!--Email Input-->
    <p>
        Email <input type="text" th:field="*{email}"/>
    </p>
    <div th:if="${#fields.hasErrors('email')}">
        <ul>
            <li th:each="err : ${#fields.errors('email')}" th:text="'Error: ' + ${err}"/>
        </ul>
    </div>

    <!--Registration Button-->
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>

</body>
</html>