<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form Page</title>
</head>
<body>

<h1>Register New User</h1>

<!--Registration Form-->
<form action="#" th:action="@{/register/processRegistrationForm}"
      th:object="${webUser}"
      method="POST">

    <!--Check for Registration Error-->
    <div th:if="${registrationError}">
        <span th:text="${registrationError}"></span>
    </div>

    <!--UserName input-->
    <p>
        UserName <input type="text" th:field="*{userName}">
    </p>
    <div th:if="${#fields.hasErrors('userName')}">
        <ul>
            <li th:each="err : ${#fields.errors('userName')}" th:text="'Error: ' + ${err}"/>
        </ul>
    </div>

    <!--Password input-->
    <p>
        Password <input type="text" th:field="*{password}"/>
    </p>
    <div th:if="${#fields.hasErrors('password')}">
        <ul>
            <li th:each="err : ${#fields.errors('password')}" th:text="'Error: ' + ${err}" />
        </ul>
    </div>

    <!--First Name Input-->
    <p>
        First Name <input type="text" th:field="*{firstName}"/>
    </p>
    <div th:if="${#fields.hasErrors('firstName')}">
        <ul>
            <li th:each="err : ${#fields.errors('firstName')}" th:text="'Error: ' + ${err}" />
        </ul>
    </div>

    <!--Last Name Input-->
    <p>
        Last Name <input type="text" th:field="*{lastName}"/>
    </p>
    <div th:if="${#fields.hasErrors('lastName')}">
        <ul>
            <li th:each="err : ${#fields.errors('lastName')}" th:text="'Error: ' + ${err}" />
        </ul>
    </div>

    <!--Email Input-->
    <p>
        Email <input type="text" th:field="*{email}"/>
    </p>
    <div th:if="${#fields.hasErrors('email')}">
        <ul>
            <li th:each="err : ${#fields.errors('email')}" th:text="'Error: ' + ${err}" />
        </ul>
    </div>

    <!--Registration Button-->
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>

</body>
</html>