<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Welcome to the home page!
<br><br>
<hr>
<br>
<a th:href="@{/employee/list}">Employee List</a>
<br><br>
<hr>
<p>
    Logged in as
    <br>
    Username: <span th:text="${userName}"></span>
    <br>
    First Name: <span th:text="${firstName}"></span>
    <br>
    Last Name: <span th:text="${lastName}"></span>
    <br>
    Roles:
    <ul>
        <li th:each="role : ${roles}" th:text="${role.getName}"></li>
    </ul>

</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>