<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<h1>Employee Login Page</h1>

<form action="#" th:action="@{/authenticateTheUser}" method="POST">

    <!--Check for login error-->
    <div th:if="${param.error}">
        <i class="failed">Sorry! You entered invalid username/password</i>
    </div>

    <!--Check for logout-->
    <div th:if="${param.logout}">
        <i class="failed">You have been logged out</i>
    </div>

    <!--UserName input-->
    <p>
        User name: <input type="text" name="username"/>
    </p>

    <!--Password input-->
    <p>
        Password: <input type="password" name="password"/>
    </p>

    <!--Submit(Login) Button-->
    <input type="submit" value="Login" />

    <!--Register User Link-->
    <div>
        <a th:href="@{/register/showRegistrationForm}">Register New User</a>
    </div>
</form>

</body>
</html>